<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="su.softcom.cldt.ext">
	<locations>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository id="su.softcom.nexus.cldt" location="https://nexus.softcom.su/repository/cldt/latest"/>
			<unit id="su.softcom.cldt.feature.feature.group" version="4.4.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/releases/2023-03/"/>
			<unit id="org.eclipse.platform.sdk" version="0.0.0"/>
		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20200831200620/repository"/>
			<unit id="com.fasterxml.jackson.core.jackson-core" version="2.10.3.v20200512-1600"/>
			<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.10.3.v20200512-1600"/>
			<unit id="org.apache.velocity" version="1.5.0.v200905192330"/>

		</location>
		<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
			<repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220830213456/repository"/>
			<unit id="org.apache.commons.io" version="2.8.0.v20210415-0900"/>
			<unit id="org.junit" version="4.13.2.v20211018-1956"/>
			<unit id="org.junit.jupiter.api" version="5.8.2.v20220624-2009"/>
			<unit id="org.junit.jupiter.params" version="5.8.2.v20220624-2009"/>
			<unit id="org.junit.jupiter.engine" version="5.8.2.v20220624-2009"/>
			<unit id="org.junit.platform.commons" version="1.8.2.v20220624-2009"/>
			<unit id="org.junit.platform.engine" version="1.8.2.v20220624-2009"/>
			<unit id="org.junit.platform.launcher" version="1.8.2.v20220624-2009"/>
			<unit id="org.junit.platform.runner" version="1.8.2.v20220624-2009"/>
			<unit id="org.antlr.runtime" version="4.7.2.v20200218-0804"/>
			<unit id="org.yaml.snakeyaml" version="1.27.0.v20201111-1638"/>
			<unit id="org.junit.platform.suite.api" version="1.8.2.v20220624-2009"/>
			<unit id="org.junit.platform.suite.commons" version="1.8.2.v20220624-2009"/>
			<unit id="org.junit.platform.suite.engine" version="1.8.2.v20220624-2009"/>
			<unit id="com.fasterxml.jackson.module.jackson-module-jaxb-annotations" version="2.13.2.v20220426-1653"/>
		</location>
		<location includeDependencyDepth="none" includeSource="true" missingManifest="generate" type="Maven">
			<dependencies>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-annotations</artifactId>
					<version>2.16.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-core</artifactId>
					<version>2.16.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.core</groupId>
					<artifactId>jackson-databind</artifactId>
					<version>2.16.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>com.fasterxml.jackson.dataformat</groupId>
					<artifactId>jackson-dataformat-xml</artifactId>
					<version>2.12.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.mockito</groupId>
					<artifactId>mockito-core</artifactId>
					<version>4.11.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.mockito</groupId>
					<artifactId>mockito-inline</artifactId>
					<version>3.9.0</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.objenesis</groupId>
					<artifactId>objenesis</artifactId>
					<version>3.2</version>
					<type>jar</type>
				</dependency>
				<dependency>
					<groupId>org.codehaus.woodstox</groupId>
					<artifactId>stax2-api</artifactId>
					<version>4.2.1</version>
					<type>jar</type>
				</dependency>
<dependency>
    <groupId>net.bytebuddy</groupId>
    <artifactId>byte-buddy</artifactId>
    <version>1.17.5</version>
</dependency>
<dependency>
    <groupId>net.bytebuddy</groupId>
    <artifactId>byte-buddy-agent</artifactId>
    <version>1.17.5</version>
    <scope>test</scope>
</dependency>

			</dependencies>
		</location>
	</locations>
</target>