<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.importWizards">
      <wizard
            category="su.softcom.cldt.ui.cppProjects"
            class="su.softcom.cldt.qt.ui.wizards.QtImportWizard"
            icon="icons/view16/qt.png"
            id="su.softcom.cldt.qt.ui.wizard.import"
            name="%QtProject">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="su.softcom.cldt.qt.new.category"
            name="Qt">
      </category>
      <wizard
            category="su.softcom.cldt.qt.new.category"
            class="su.softcom.cldt.qt.ui.wizards.QtNewLibraryWizard"
            icon="icons/view16/qt.png"
            id="su.softcom.cldt.qt.ui.wizard.new.library"
            name="Библиотека Qt"
            project="true">
      </wizard>
      <wizard
            category="su.softcom.cldt.qt.new.category"
            class="su.softcom.cldt.qt.ui.wizards.QtNewWidgetsApplication"
            icon="icons/view16/qt.png"
            id="su.softcom.cldt.qt.ui.wizard.new.widgets.app"
            name="Виджет Qt "
            project="true">
      </wizard>
      <wizard
            category="su.softcom.cldt.qt.new.category"
            class="su.softcom.cldt.qt.ui.wizards.QtNewConsoleApplicationWizard"
            icon="icons/view16/qt.png"
            id="su.softcom.cldt.qt.new.console.app"
            name="Консольное приложение Qt"
            project="true">
      </wizard>
      <wizard
            category="su.softcom.cldt.qt.new.files.category"
            class="su.softcom.cldt.qt.ui.wizards.QtNewItemFile"
            icon="icons/view16/qt.png"
            id="su.softcom.cldt.qt.ui.wizard.new.item.file"
            name="Файл Qt Item">
      </wizard>
      <wizard
            category="su.softcom.cldt.qt.new.files.category"
            class="su.softcom.cldt.qt.ui.wizards.QtNewDesignerForm"
            icon="icons/view16/qt.png"
            id="su.softcom.cldt.qt.ui.wizard.new.designer.form.file"
            name="Файл формы Qt Designer">
      </wizard>
      <category
            id="su.softcom.cldt.qt.new.files.category"
            name="Файлы Qt">
      </category>
   </extension>
   <extension
         id="su.softcom.cldt.qt.nature.sync"
         name="QT CMake"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="su.softcom.cldt.qt.core.QtNature">
         </run>
      </runtime>
      <builder
            id="su.softcom.cldt.qt.builder.sync">
      </builder>
   </extension>
   <extension
         id="su.softcom.cldt.qt.builder.sync"
         name="Синхронизация Qt"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="true"
            isConfigurable="true"
            supportsConfigurations="true">
         <run
               class="su.softcom.cldt.qt.core.internal.QtSyncBuilder">
         </run>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="su.softcom.cldt.qt.ui.properties.QtSettingsPropertyPage"
            id="su.softcom.cldt.qt.selectModulesPage"
            name="Настройки Qt">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="su.softcom.cldt.qt.nature.sync">
               </test>
            </adapt>
         </enabledWhen>
      </page>
   </extension>
   <extension point="org.eclipse.ui.views">
    <view
        id="su.softcom.cldt.qt.ui.internal.views.QtImportConsoleView"
        name="%QtConsole"
        class="su.softcom.cldt.qt.ui.internal.views.QtImportConsoleView"
        category="su.softcom.cldt.qt.ui.views">
    </view>
    <category
        id="su.softcom.cldt.qt.ui.views"
        name="Qt Tools">
    </category>
</extension>

</plugin>
